# macOS
.DS_Store

# Arduino IDE - Compiled files and builds
build/
*.elf
*.hex
*.bin
*.lock
# Ignore dotfiles by default, but not our module stubs
.*
!.02_Input
!.03_Output
!.04_Sensors
!.05_Actuators
!.06_Communication
!.07_Projects
# VS Code
.vscode/
